h1 {
  text-align:center;
}
h2 {
  text-align:center;
}
video{
  display:block;
  margin: 0 auto;
}
.column {
  float: left;
  width: 50%;
}
model-viewer {
  width: 1000px;
  height: 800px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
